/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

/* Colors */

:root {
  /* Primary */

  /* CTA text */
  --lightRed: hsl(356, 100%, 66%);
  /* CTA hover background */
  --veryLightRed: hsl(355, 100%, 74%);
  /* headings */
  --veryDarkBlue: hsl(208, 49%, 24%);

  /* Neutral */

  /* text */
  --white: hsl(0, 0%, 100%);
  /* footer text */
  --grayishBlue: hsl(240, 2%, 79%);
  /* body copy */
  --veryDarkGrayishBlue: hsl(207, 13%, 34%);
  /* footer background */
  --veryDarkBlackBlue: hsl(240, 10%, 16%);

  /* Gradient */

  /* Background gradient - Intro/CTA mobile nav */
  /*   --veryLightRed: #ff8f70;
  --lightRed: #ff3d54; */

  /* Background gradient - body */
  --veryDarkGrayBlue: hsl(240, 33%, 1%);
  --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
}

body {
  font-family: "Overpass", "Ubuntu", sans-serif;
  font-size: 1.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Fonts
[Overpass] Weights: 300, 600
[Ubuntu] Weights: 400, 500, 700 */
.wrapper {
  padding: 3em 1.5em;
}

/* Top menu */

.section-cta {
  background-image: url("./images/bg-pattern-intro.svg"),
    linear-gradient(to right, var(--veryLightRed), var(--lightRed));
  background-size: 400%;
  background-repeat: no-repeat, no-repeat;
  background-position: left -20em top -30em, top;
  width: 100%;
  /*   height: 50vh; */
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  height: 100%;
  width: 5em;
}

.btn-toggle-nav {
  background-image: url("./images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  height: 100%;
  width: 2em;
}

.menu-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin: 2em 0;
  padding: 2em 0 1.5em;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.menu-top {
  font-weight: 600;
}

.menu-bar > ul {
  display: flex;
  flex-flow: column nowrap;
}

.menu-bar > ul li {
  list-style: none;
}

.menu-bar > ul li a {
  line-height: 2em;
  text-decoration: none;
  color: #000000;
}

.menu-btns {
  display: flex;
  flex-flow: column;
}

button {
  height: 3em;
  width: 8em;
  margin: 0.5em;
  border-radius: 2.5em;
  border: solid black;
  background-color: white;
  font-size: 1em;
}

#sign-up {
  background-image: linear-gradient(
    to right,
    var(--veryLightRed),
    var(--lightRed)
  );
  color: white;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
